extends layout

block content
  .Welcome
    .title
      h3 Player Mixed Services

    .info
      p Hello, welcome to use Player Mixed Services
      p address：
        span #{address}
  style @import url('styles/welcome.css')



